body.lock {
   overflow: hidden;
}

.modal {
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.603);
   opacity: 0;
   visibility: hidden;
   -webkit-transition: 0.5s;
   -o-transition: 0.5s;
   transition: 0.5s;
   overflow-y: auto;
   overflow-x: hidden;
   cursor: pointer;
   z-index: 101;
}

.modal__content {
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translateY(-50%) translateX(-50%) scale(0);
   -ms-transform: translateY(-50%) translateX(-50%) scale(0);
   transform: translateY(-50%) translateX(-50%) scale(0);
   opacity: 0;
   -webkit-transition: 0.5s;
   -o-transition: 0.5s;
   transition: 0.5s;
   cursor: default;
   width: calc(100% - 32px);
   max-width: 900px;
   max-height: calc(100% - 32px);
   overflow: auto;
}

.modal__close {
   display: block;
   position: absolute;
   top: 30px;
   right: 30px;
   z-index: 10;
   @media (max-width: $mobile) {
      top: 15px;
      right: 15px;
   }
}
.modal.open {
   opacity: 1;
   visibility: visible;
}

.modal.open .modal__content {
   -webkit-transform: translateY(-50%) translateX(-50%) scale(1);
   -ms-transform: translateY(-50%) translateX(-50%) scale(1);
   transform: translateY(-50%) translateX(-50%) scale(1);
   opacity: 1;
}
.modal {
   .form__content {
      padding-bottom: 50px;
      .h2 {
         display: flex;
         align-items: center;
         flex-direction: column;
      }
   }
}
